$violet: #9C27B0;
$red: #e53935;
$green: #2CC990;
$green-darker: #1abc9c;
$white: #FEFEFE;
$semi-transparent: rgba(255, 255, 255, .4);
$gray: rgba(0, 0, 0, 0.5);
$gray2: #888;
$border: #BDBDBD;
$black: #333;