@import "helpers";

.is-hidden {
  display: none;
}

.is-done {
  text-decoration: line-through;
  color: $gray;
}

.is-editing {
  & .task__input {
    display: block;
  }

  & .task__title {
    display: none;
    margin-top: 1px;
    margin-bottom: 4px;
    padding: 8px 0 9px 11px;
  }
}