





ul {
  margin: 0;
  padding: 0;
}

li * {
  float: left;
}

li,
h3 {
  clear: both;
  list-style: none;
}

input,
button {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: $gray2;
  float: right;
  width: 25px;
  margin: 7px 0px 0px 0;
  padding: 0;
  cursor: pointer;
}

button:hover {
  color: $black;
}

.material-icons {
  font-size: 22px;
}






/* Heading */

input[type="text"] {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  background: $white;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: $gray2;
}

input[type="text"]:focus {
  color: $black;
}

/* New Task */

label[for='js-new-task'] {
  display: block;
  margin: 0 0 20px;
}

input#js-new-task {
  float: left;
  width: 345px;
}

#js-new-task {
  margin-bottom: 10px;
}

input:focus {
  border-color: #BDBDBD;
}

p> button:hover {
  color: $green;
}


/* Task list */


/* Edit Task */



